<% meta title: "Privacy Policy | Recognized.io" %>

<div class="legal-page">
  <h2>PRIVACY POLICY</h2>
  <p>Last Revised: March 9, 2015</p>
  <p></p>

  <h3>Collection of Information</h3>

  <h4></h4>
  <p></p>
  <h4></h4>
  <p></p>


  </div>
