<% meta title: "Terms of Service | Recognized.io" %>

<div class="legal-page">
  <h2>RECOGNIZED.IO, INC. TERMS OF SERVICE</h2>

  <p>Last Revised: March 9, 2015</p>
  <p></p>
  <h3>Accepting these Terms</h3>
  <p></p>
  <h3>Changes to these Terms</h3>

</div>
