#site-footer {
  background-color: $light-gray;
  position: relative;
  border-top: 10px solid white;

  .left {
    font-size: 12px;
    position: absolute;
    left: 30px;
    bottom: 40px;

    @include media($break-medium) {
      display: none;
    }

    .legal-links{
      li{
        display: inline-block;

        &::after{
          content: "|";
          margin-left: 4px;
        }

        &:last-child::after{
          content: "";
        }

      }
    }
  }

  .logo-container  {
    background-color: white;
    display: block;
    @include size(131px 139px);
    padding: 40px 45px;
    margin-left: auto;
    margin-right: auto;

    .logo  {
      @include hide-text;
      @include retina-image(logonotext, 49px 51px, $asset-pipeline: true);
      @include size(49px 51px);

      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .right {
    display: block;
    position: absolute;
    bottom: 40px;;
    right: 80px;

    .label{
      margin-right: 10px;
    }

    ul,li {
      display: inline-block;
      padding-left: 20px;
    }

    ul{
      vertical-align: top;
      position: relative;
      top: -2px;
    }

    a {
      font-size: 24px;

      &:hover{
        color: white;
      }
    }
  }
}
