<!DOCTYPE html>
<html>
<head>
  <%= render 'application/head_contents' %>
</head>
<body class="<%= body_class %>">

  <%= content_for?(:body_content) ? yield(:body_content): yield %>

  <%= render 'application/google_analytics' %>
</body>
</html>
