<% content_for :body_content do %>
  <div class="container">
    <%= content_for?(:legal_content) ? yield(:legal_content) : yield %>
  </div>

  <%= render 'shared/site_footer' %>
<% end %>

<%= render template: "layouts/application" %>
